@model ISBD_project.Models.UserCourseAffiliation

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>UserCourseAffiliation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Course.nameC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course.nameC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Users.nameU)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Users.nameU)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.scoreUCA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.scoreUCA)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
